div#right_side div#article-title{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    position: relative;
}


div#right_side #edit{
    position: absolute;
    right: 30px;
    top:10px;
    height: 30px;
    width: 70px;
    background: dodgerblue;
    border:0;
    border-radius: 4px;
    color:white;
}

div#right_side div#article-date {
    margin:0 20px;
    padding-right: 10px;
    height:20px;
    color: #bbb;
    line-height: 20px;
    font-size: 12px;
    text-align: right;
    border-top: 1px #dddddd solid;
}
div#right_side div#article-content{
    margin:15px 15px;
}

.floatR{
    float: right;
}

div#delArticle:hover{
    color:#e00;
}