

div#nav div#newarticle {
    float:right;
}

ul#articlelist{
    list-style: none;
}

ul#articlelist li{
    display: block;
    height: 50px;
    border-bottom: 1px #ddd solid;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

ul#articlelist li span.item-title {
    float:left;
    font-size: 16px;
    width: 540px;
    color: #222;
    line-height: 50px;
    margin-left: 50px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
ul#articlelist li span.item-title:hover{
    color:cornflowerblue;
}


ul#articlelist li span.item-date{
    font-size:12px;
    float:right;
    line-height: 50px;
    color:#bbb;
    margin-right: 30px;
}

ul#articlelist li:last-child{
    border-bottom: none;
}