<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">


    <title>TINY BLOG</title>
    <!--dev version-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        document.ready = function (callback) {
            document.addEventListener('DOMContentLoaded', function () {
                document.removeEventListener('DOMContentLoaded', arguments.callee, false);
                callback();
            }, false)
        };
        document.ready(function () {
            var nav = new Vue({
                el: "#nav",
                data: {
                    logined: false
                },
                methods: {
                    gotoIndex: function () {
                        location.href = "/";
                    },
                    gotoLogin: function () {
                        if(nav.logined){
                            window.fetch("/api/logout",{credentials:"same-origin"})
                                .then(()=>{
                                    nav.logined=false;
                                    alert("已经登出！")
                                });
                        }else{
                            window.location.href = "/login.html";
                        }

                    },
                    newArticle:function(){
                        window.location.href="/edit.html?id=0";
                    }
                }
            });

            var articlelist = new Vue({
                el: "#articlelist",
                data: {
                    items: []
                },
                methods: {
                    parseDate: function (index) {
                        let a = new Date(this.items[index].DATE);
                        return a.toLocaleDateString() + " " + a.getHours() + ":" + a.getMinutes() + ":" + a.getSeconds();
                    }

                },
                computed:{
                    empty:function(){
                        return (this.items.length===0);
                    }
                }
            });
            window.fetch("/api/getArticleList")
                .then((res) => {
                    return res.json();
                })
                .then((j) => {
                    articlelist.items = j;
                });
            window.fetch("/api/login",{method:"post",credentials:"same-origin"})
                .then((res)=>{
                    nav.logined=res.ok;
                });
        });
    </script>

</head>
<body class="body">
<div id="nav" class="shadow">
    <div id="nav-container">
        <div @click="gotoIndex">首页</div>


        <div id="login-btn" @click="gotoLogin">{{logined?'登出':'登录'}}</div>
        <div id="newarticle" @click="newArticle">写新文章</div>
    </div>
</div>
<div id="main_wrapper" class="clearfix">

    <div id="left_side" class="shadow card">
        <img id="user-image" src="img/user-image.jpg" alt="user image">
        <div id="user-info">
            <p>这里是元素的博客。

            </p>
        </div>
    </div>
    <div id="right_side" class="shadow card">
        <ul id="articlelist">
            <li v-if="empty"><span class="item-title">现在还没有文章......</span></li>
            <li v-for="(item, index) in items" class="clearfix">
                <span class="item-date">{{ parseDate(index) }}</span>
                <a v-bind:href="'/article.html?id='+item.ID"><span class="item-title">{{item.TITLE}}</span></a>
            </li>
        </ul>
    </div>
</div>


</body>
</html>